.desktop-header {
    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    overflow: hidden;

    padding: 8px;
    border-radius: 16px;
    box-shadow: 0px 4px 8px 0px #000000;
    -webkit-box-shadow: 0px 4px 8px 0px #000000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    >.logo {
        display: flex;
        align-items: center;
        gap: 8px;

        >img {
            width: 60px;
        }

        >h1 {
            font-size: 20px;
        }
    }
    >.desktop-nav{
        display: flex;
        gap: 8px;
        align-items: center;

        >.nav-btn{
            color: var(--text-col);
            font-weight: 800;
            font-size: 20px;
            text-decoration: none;
        }

        >.nav-btn.active{
            color: var(--primary-col);
        }
    }
}
@media only screen and (max-width: 540px){
    .desktop-header{
        display: none;
    }
}