.features-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    background: linear-gradient(180deg,var(--bg-col) 0%, rgba(255, 255, 255, 0) 30%), url(../../assets/iceberg.png), no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    justify-content: center;
    >.heading-box{
        text-align: center;
        padding: 8px;
        >h4{
            font-size: 40px;
            width: 1000px;
            border-bottom: 2px solid grey;
        }
        >h5{
            font-size: 24px;
        }
    }
    >.feature-container{
        display: grid;
        padding: 64px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
    }
}
.feature-thumb{
    display: flex;
    flex-direction: column;
    padding: 4px;
    border: 2px solid transparent;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 300px;
    min-height: 200px;
    >h4{
        font-size: 32px;
    }
    >p{
        text-shadow: 1px 1px black;
        flex: 1;
    }
    >a{
        background-color: red;
        padding: 4px;
        align-self: flex-end;
    }
}