.mobile-header{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    
    padding: 8px;
    box-shadow: 0px 4px 8px 0px #000000;
    -webkit-box-shadow: 0px 4px 8px 0px #000000;
    
    justify-content: space-between;
    align-items: center;
    .Menu-Icon.open{
        transform: rotateZ(45deg);
    }
    .Menu-Icon{
        transition: transform 0.3s ease-in-out;
    }
    >.logo {
        display: flex;
        align-items: center;
        gap: 8px;

        >img {
            width: 60px;
        }

        >h1 {
            font-size: 20px;
        }
    }
    >.mobile-nav{
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        padding: 32px;
        position:absolute;
        left: 0px;
        right: 0px;
        top: 100%;
        height:calc(100vh - 100%);
        >.nav-btn{
            color: var(--text-col);
            font-weight: 800;
            font-size: 20px;
            text-decoration: none;
        }
        
        >.nav-btn.active{
            color: var(--primary-col);
        }
    }
}

@media only screen and (max-width: 540px){
    .mobile-header{
        display: flex;
    }
}

