.Links-Container{
    margin-top: 200px;
    >.List-Items{
        display: flex;
        flex-direction: column;
        margin: 16px;
        margin-top: 64px;
        width: 5%;
        background-color: rgba(88, 84, 84, 0.3);
        >h6{
            font-size: 16px;
            border-bottom: 4px solid grey;
        }
        >li{
            color: gray;
            list-style-type: none
        }
    }
}
.Footer{
    background-image: url(../../assets/footer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -170px;
}