.Category-Btn{
    background: none;
    padding: 0px;
    border: none;
    color: white;
    font-family: 'Inter';
    font-size: 16px;
}
.Category-Btn.active{
        color: red;
    }

.Categories-Container{
    display: flex;
    gap: 16px;
}
.Workout-Creator{
    display: flex;
    margin-top: 150px;
    align-items: center;
    flex-direction: column;
    >form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
